body{
	padding: 30px;
}

.logo img{
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}
.foot1{
	margin-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}
.divsec{
	margin-top: 30px;
	display: inline-block;
	margin-right: 50px;
	vertical-align: top;

}
.h3{
	font-size: 20px;
	color: #3d58a6;
}
.h6{
	font-size: 16px;
	color: #808080;
}

.navb{
	display: inline-block;
}
.nav-li{
	display: inline-block;
	padding-left: 30px;
	font-size: 22px;
}
span{
	color: red;
}

.secti{
	margin-top: 30px;
	background-color: #e6e6e6;
}
